*{
    text-align: center;
    font-family: Tahoma;
}
div {
    margin: 20px 20rem;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 22px;
}
p {
    font-size: 18px;
    margin: 1rem 8rem;
    line-height: 2rem;
}
span {
    font-weight: bold;
}
a {
    font-size: 18px;
    color: #964b00;
    margin: 0px 10px;
}
div h2{
    color: orange;
}
.divisao-apresentacao{
    border-top: 1px solid orange;
}
.divisao-laranjada{
    background-color: orange;
    color: white;
    padding: 20px;
}
#img-produtos {
    width: 100%;
}